@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden !important;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  background: none;
  border: none;
  outline: none;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden !important;
}

html {
  scroll-behavior: smooth;
  backface-visibility: hidden !important;
  overflow-x: hidden !important;
}

body {
  font-size: clamp(16px, 1.7578125vw, 18px);
  min-height: 100%;
  backface-visibility: hidden !important;
  overflow-x: hidden !important;
  line-height: 1.5;
  color: #191A23;
  background: #fff;
  font-family: "Space Grotesk", sans-serif;
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

a,
button,
input,
textarea,
svg * {
  transition: all 0.36s ease;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: clamp(40px, 5.859375vw, 60px);
}

h2 {
  font-size: clamp(36px, 3.90625vw, 40px);
}

h3 {
  font-size: clamp(26px, 2.9296875vw, 30px);
}

h4 {
  font-size: clamp(18px, 1.953125vw, 20px);
}

p {
  font-size: clamp(16px, 1.7578125vw, 18px);
}

address {
  font-style: normal;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  background: none;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #191A23;
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #939393;
}

.button {
  padding: 20px 36px;
  font-size: clamp(16px, 1.953125vw, 20px);
  background: #191A23;
  color: #fff;
  border-radius: 18px;
  transition: all 0.36s ease;
  border: 1px solid #191A23;
}
.button:is(:hover, .button:focus-visible) {
  background: #B9FF66;
  color: #191A23;
}
@media screen and (max-width: 1024px) {
  .button {
    padding: 12px 18px;
  }
}
@media screen and (max-width: 481px) {
  .button {
    padding: 20px 0;
    width: 100%;
  }
}

.button--transparent {
  border: 1px solid #191A23;
  border-radius: 18px;
  background: transparent;
  color: #191A23;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 500;
  transition: all 0.5s ease;
}

.preloader-wrapper {
  position: relative;
}
.preloader-wrapper::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 10px;
  background: #eeeeee;
  filter: blur(5px);
  z-index: 5;
  opacity: 0.5;
  animation: dropShadow 0.8s ease-in-out infinite alternate;
}
.preloader-wrapper__img {
  width: 280px;
  height: auto;
  animation: bounce 0.8s ease-in-out infinite alternate;
}

.preloader.remove {
  visibility: hidden;
  opacity: 0;
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dropShadow {
  0% {
    width: 40%;
  }
  100% {
    width: 80%;
  }
}
.header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
@media screen and (max-width: 481px) {
  .header {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  z-index: 5;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    max-width: 144px;
  }
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1100px) {
  .header__navigation {
    gap: 16px;
  }
}
.header__hamburger {
  z-index: 5;
}
@media screen and (min-width: 769px) {
  .header__hamburger {
    display: none;
  }
}

.navigation-header__list {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1100px) {
  .navigation-header__list {
    gap: 16px;
  }
}
.navigation-header__link {
  font-size: clamp(16px, 1.953125vw, 20px);
  display: inline-flex;
  position: relative;
}
.navigation-header__link:is(.navigation-header__link:hover, .navigation-header__link:focus-visible).navigation-header__link::after {
  width: 100% !important;
}
.navigation-header__link::after {
  content: "";
  position: absolute;
  top: 105%;
  transition: all 0.36s ease;
  height: 3px;
  width: 0;
  border-radius: 10px;
  background: #B9FF66;
}

@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
}

.header__mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: left 0.5s ease;
}

.mobile-toggle {
  position: fixed;
  left: -150%;
  top: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: left 0.5s ease;
}

.mobile-header__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
.mobile-header__link {
  font-size: 20px;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  background: rgba(186, 255, 102, 0.9);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: self-start;
  padding: 20px;
}

.header.header-scroll {
  background: rgba(186, 255, 102, 0.8);
  backdrop-filter: blur(7px);
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}

.ham4 .bottom {
  stroke-dasharray: 40 121;
}

.ham4.active .top {
  stroke-dashoffset: -68px;
}

.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

.hero {
  margin-top: 140px;
}
@media screen and (max-width: 769px) {
  .hero {
    margin-top: 100px;
  }
}
.hero__partners {
  display: flex;
  flex-wrap: wrap;
  row-gap: 37px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .hero__partners {
    column-gap: 90px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 769px) {
  .hero__partners {
    justify-content: space-between;
  }
}
@media screen and (max-width: 481px) {
  .hero__partners {
    display: grid;
    overflow-x: scroll;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 37px;
    row-gap: 20px;
  }
  .hero__partners .partner--mobile {
    margin-left: 37px;
  }
}
.hero__inner {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}

.main-hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
@media screen and (max-width: 600px) {
  .main-hero__wrapper {
    flex-direction: column;
  }
}
.main-hero__content {
  max-width: 540px;
}
@media screen and (max-width: 600px) {
  .main-hero__content {
    display: contents;
  }
}
.main-hero__title {
  margin-bottom: 35px;
}
@media screen and (max-width: 600px) {
  .main-hero__title {
    order: -2;
    margin-bottom: 10px;
  }
}
.main-hero__title span {
  background: linear-gradient(120deg, #B9FF66, #C6FF00);
  border-radius: 10px;
  padding: 0 10px;
}
.main-hero__text {
  margin-bottom: 35px;
}
.main-hero__text p {
  font-size: clamp(18px, 1.953125vw, 20px);
}
@media screen and (max-width: 600px) {
  .main-hero__img {
    order: -1;
    margin-bottom: 20px;
  }
}
.main-hero__img img {
  width: 600px;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1024px) {
  .main-hero__img img {
    width: 400px;
  }
}
@media screen and (max-width: 769px) {
  .main-hero__img img {
    width: 300px;
  }
}
@media screen and (max-width: 481px) {
  .main-hero__img img {
    width: 100%;
  }
}

.partner__img {
  height: 48px;
  width: auto;
  filter: grayscale(100);
}

.services {
  margin-top: 140px;
}
@media screen and (max-width: 481px) {
  .services {
    margin-top: 90px;
  }
}
.services__top {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 85px;
}
@media screen and (max-width: 481px) {
  .services__top {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
}
.services__heading {
  font-size: clamp(36px, 3.90625vw, 40px);
  padding: 0 10px;
  background: linear-gradient(120deg, #B9FF66, #C6FF00);
  display: inline-block;
  border-radius: 10px;
}
.services__text {
  max-width: 580px;
  font-size: clamp(16px, 1.7578125vw, 18px);
}
.services__main {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
@media screen and (max-width: 769px) {
  .services__main {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
  }
}
@media screen and (max-width: 481px) {
  .services__main {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
  }
}

.service {
  padding: 40px;
  max-width: 600px;
  min-height: 310px;
  border-radius: 36px;
  box-shadow: 0 5px 0 0 #191A23;
  background: #f0f0f0;
}
@media screen and (max-width: 769px) {
  .service {
    max-width: 100%;
  }
}
.service__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 481px) {
  .service__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-end;
  }
}
.service__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
  order: -1;
}
@media screen and (max-width: 481px) {
  .service__content {
    height: 100%;
    display: contents;
  }
}
.service__img {
  width: 190px;
  object-fit: cover;
}
@media screen and (max-width: 481px) {
  .service__img {
    margin: 30px 0;
  }
}
@media screen and (max-width: 769px) {
  .service__img {
    width: 160px;
    order: -1;
    justify-self: flex-end;
  }
}

.content-service__wrapper {
  display: flex;
  flex-direction: column;
  order: -2;
}
.content-service__heading {
  display: inline-block;
  padding: 0 10px;
  width: max-content;
  font-size: clamp(26px, 2.9296875vw, 30px);
  border-radius: 10px;
  background: linear-gradient(120deg, #B9FF66, #C6FF00);
}
.content-service__button {
  display: flex;
  align-items: center;
  gap: 15px;
}

.second-heading {
  width: max-content;
  background: linear-gradient(120deg, #C6FF00, #B9FF66);
}

.service--accent {
  background: #B9FF66;
}
.service--accent h3 {
  background: white;
}

.service--dark {
  background: #191A23;
}
.service--dark h3 {
  background: white;
}
.service--dark a {
  color: white;
}

.banner {
  margin: 140px 0;
}
@media screen and (max-width: 481px) {
  .banner {
    margin: 90px 0;
  }
}
.banner__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  border-radius: 36px;
  padding: 60px;
  padding-right: 0;
  height: 347px;
  gap: 20px;
}
@media screen and (max-width: 481px) {
  .banner__wrapper {
    padding: 40px;
    min-height: 370px;
  }
}
.banner__image {
  width: 600px;
}
@media screen and (max-width: 481px) {
  .banner__image {
    display: none;
  }
}

.content-banner {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.content-banner__heading {
  font-size: clamp(26px, 2.9296875vw, 30px);
}
.banner-button {
  width: max-content;
}

@media screen and (max-width: 481px) {
  .banner-button {
    width: 100%;
  }
}
.process {
  margin-bottom: 140px;
}
@media screen and (max-width: 481px) {
  .process {
    margin-bottom: 90px;
  }
}
.process__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  gap: 40px;
}
@media screen and (max-width: 481px) {
  .process__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
  }
}

.process-card {
  cursor: pointer;
  padding: 40px 60px;
  border: 1px solid #191A23;
  box-shadow: 0 5px 0 0 #191A23;
  border-radius: 36px;
  transition: all 0.36s ease;
}
@media screen and (max-width: 481px) {
  .process-card {
    padding: 20px;
  }
}
.process-card:is(:hover, .process-card:focus-visible) {
  background: #B9FF66;
}
.process-card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.process-card__number {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: clamp(30px, 5.859375vw, 60px);
}
.process-card__number-heading {
  font-size: clamp(16px, 2.9296875vw, 30px);
  font-weight: 500;
}
@media screen and (max-width: 481px) {
  .process-card__number-heading {
    max-width: 203px;
  }
}
.process-card__icon {
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 481px) {
  .process-card__icon {
    width: 30px;
    height: 30px;
  }
}
.process-card__body {
  padding: 40px 0;
  padding-bottom: 0;
}
.toggle-display-none {
  display: none;
}

.team {
  margin-bottom: 140px;
}
@media screen and (max-width: 481px) {
  .team {
    margin-bottom: 90px;
  }
}
.team__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 40px;
}
@media screen and (max-width: 481px) {
  .team__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }
}

.team-card {
  padding: 40px 35px;
  border-radius: 36px;
  border: 1px solid #191A23;
  box-shadow: 0 5px 0 0 #191A23;
}
.team-card__top {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 1px solid #191A23;
}
.team-card__img {
  width: 100px;
}
.team-card__name {
  font-weight: 500;
}
.team-card__bottom {
  margin-top: 25px;
}
.case__wrapper {
  padding: 60px;
  background: #191A23;
  border-radius: 36px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
@media screen and (max-width: 769px) {
  .case__wrapper {
    background: none;
    padding: 0;
    gap: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }
}
@media screen and (max-width: 481px) {
  .case__wrapper {
    display: flex;
    width: 1000px;
    gap: 30px;
  }
}
.case__content {
  padding-right: 64px;
  border-right: 1px solid white;
}
@media screen and (max-width: 1024px) {
  .case__content {
    padding-right: 30px;
  }
}
@media screen and (max-width: 769px) {
  .case__content {
    background: #191A23;
    border-radius: 36px;
    padding: 30px;
    width: 100%;
  }
  .case__content:last-child {
    padding-right: 30px !important;
  }
}
.case__content:last-child {
  border: none;
  padding-right: 0;
}
@media screen and (max-width: 481px) {
  .case__content {
    padding: 42px 50px;
  }
}

.content-case__link {
  display: flex;
  align-items: center;
  color: #B9FF66;
  margin-top: 20px;
  font-weight: normal;
}
.content-case__link svg {
  margin-left: 10px;
}

.case__overflow {
  overflow-x: scroll;
}

.contact {
  margin-top: 140px;
}
@media screen and (max-width: 481px) {
  .contact {
    margin-top: 90px;
  }
}
.body-contact {
  overflow: hidden;
  position: relative;
  background: #f0f0f0;
  padding: 40px 80px;
  border-radius: 36px;
}
@media screen and (max-width: 1024px) {
  .body-contact {
    padding: 40px;
  }
}
@media screen and (max-width: 481px) {
  .body-contact {
    padding: 40px 20px;
  }
}
.body-contact__form {
  max-width: 550px;
}
@media screen and (max-width: 769px) {
  .body-contact__form {
    max-width: 100%;
  }
}
.body-contact__header {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 481px) {
  .body-contact__header {
    gap: 0;
    justify-content: space-around;
  }
}
.body-contact__radio {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: space-between;
}
.body-contact__main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
}
.body-contact__input input, .body-contact__input textarea {
  padding: 18px 30px;
  background: white !important;
  border: 1px solid #191A23;
  border-radius: 18px;
}
.body-contact__input label {
  display: block;
  padding-bottom: 5px;
  width: 100px;
}
.body-contact__img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  width: 400px;
}
@media screen and (max-width: 1024px) {
  .body-contact__img {
    width: 300px;
  }
}
@media screen and (max-width: 769px) {
  .body-contact__img {
    display: none;
  }
}

.textarea {
  display: flex;
  flex-direction: column;
}

.contact-button {
  margin-top: 15px;
}

input[type=radio] {
  width: min-content;
  width: 25px;
  height: 25px;
  accent-color: #B9FF66;
  border: 1px solid #191A23;
}
input[type=radio]:focus {
  border: 1px solid #191A23;
}

label {
  cursor: pointer;
}

textarea {
  min-height: 190px;
}

.footer {
  margin-top: 140px;
}
@media screen and (max-width: 481px) {
  .footer {
    margin-top: 90px;
  }
}
@media screen and (max-width: 769px) {
  .footer .container {
    padding: 0;
  }
}
@media screen and (max-width: 769px) {
  .footer__wrapper {
    display: contents;
  }
}
.footer__inner {
  background: #191A23;
  padding: 50px;
  border-radius: 36px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media screen and (max-width: 769px) {
  .footer__inner {
    display: grid;
    grid-template-columns: auto;
    padding: 40px;
  }
}
@media screen and (max-width: 481px) {
  .footer__inner {
    padding: 50px 20px;
  }
}
.footer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 769px) {
  .footer__header {
    flex-direction: column;
    gap: 37px;
    display: contents;
  }
}
.footer__logo {
  width: 180px;
}
@media screen and (max-width: 769px) {
  .footer__logo {
    order: -1;
  }
}
@media screen and (max-width: 481px) {
  .footer__logo {
    text-align: center;
    justify-self: center;
  }
}
@media screen and (max-width: 769px) {
  .footer__nav {
    order: -1;
  }
}
@media screen and (max-width: 769px) {
  .footer__nav {
    margin: 40px 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 769px) {
  .footer__body {
    order: -1;
  }
}
.nav-footer__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 481px) {
  .nav-footer__list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 769px) {
  .nav-footer__list {
    gap: 20px;
  }
}
.nav-footer__link {
  color: white;
}

.social-footer {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 769px) {
  .social-footer {
    margin: 40px 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 769px) {
  .social-footer {
    justify-content: center;
  }
}
.social-footer__link img {
  width: 36px;
}

.body-footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 1px solid white;
}
@media screen and (max-width: 769px) {
  .body-footer {
    align-items: flex-start;
  }
}
@media screen and (max-width: 481px) {
  .body-footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }
}
.body-footer__info {
  color: white;
  max-width: 300px;
}
@media screen and (max-width: 769px) {
  .body-footer__info {
    text-align: start;
  }
}
@media screen and (max-width: 481px) {
  .body-footer__info {
    text-align: center;
  }
}
.body-footer__title {
  background: #B9FF66;
  display: inline-block;
  border-radius: 10px;
  padding: 0 10px;
  font-size: clamp(18px, 1.953125vw, 20px);
  margin-bottom: 30px;
  color: #191A23;
}
.body-footer__email {
  margin-bottom: 20px;
}
.body-footer__phone {
  margin-bottom: 20px;
}
.body-footer__form {
  padding: 60px 40px;
  background: #292A32;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 18px;
}
@media screen and (max-width: 1024px) {
  .body-footer__form {
    padding: 20px;
  }
}
@media screen and (max-width: 769px) {
  .body-footer__form {
    align-items: flex-start;
  }
}
@media screen and (max-width: 769px) {
  .body-footer__form {
    flex-direction: column;
  }
}
@media screen and (max-width: 481px) {
  .body-footer__form {
    margin-top: 40px;
  }
}
.body-footer__form button {
  background: #B9FF66;
  padding: 20px 35px;
  border-radius: 18px;
}
@media screen and (max-width: 769px) {
  .body-footer__form button {
    width: 100%;
  }
}
.body-footer__form input {
  border: 1px solid white;
  padding: 20px 35px;
  max-width: 285px;
  color: white;
  border-radius: 18px;
}
.body-footer__form input::placeholder {
  color: white;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.bottom-footer__legal {
  color: white;
}
@media screen and (max-width: 481px) {
  .bottom-footer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 769px) {
  .bottom-footer {
    text-align: center;
  }
}

.author-legal {
  color: #B9FF66;
}

/*# sourceMappingURL=main.css.map */
